version: '3.8'

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./:/usr/src/app:delegated
      - /usr/src/app/node_modules
    ports:
      - "4000:4000"
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_dev
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:9
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@local.host
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    restart: unless-stopped
    depends_on:
      - db

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
 db_data:
